* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(255, 252, 252);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}
.stile-titoli {
  font-weight: 800;
  color: rgb(120, 43, 15);
}
body h1 {
  font-size: 32px;
}
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(250, 247, 221);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav {
  width: 90%;
  margin-block: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.button {
  font-size: 16px;
  height: 40px;
  width: 20%;
  border: none;
  border-radius: 30px;
  background-color: rgb(245, 220, 121);
  color: rgb(120, 43, 15);
  cursor: pointer;
}
.btn-shop {
  font-size: 25px;
  width: 40%;
  height: 60px;
}
button span {
  display: inline-block;
  vertical-align: middle;
}
nav img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
main {
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
article {
  margin-block: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.articolo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: rgb(250, 247, 221);
  border-radius: 110px;
}
.articolo div,
h3 {
  font-size: 15px;
}
.articolo img {
  width: 100%;
  margin: 0;
  border-top-right-radius: 110px;
  border-top-left-radius: 110px;
}
.sotto {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-block: 5%;
}
.categoria {
  font-size: 15px;
}
.prezzo,
h4 {
  font-size: 18px;
  color: rgb(120, 43, 15);
}
.button-p {
  margin-block: 20px;
  font-size: 17px;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 30px;
  background-color: rgb(245, 220, 121);
  color: rgb(120, 43, 15);
  cursor: pointer;
}
aside {
  margin-inline: 20px;
  border-radius: 20px;
  background-color: rgb(250, 247, 221);
}
aside div {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-block: 1.5rem;
}
aside h2 {
  font-size: 22px;
}
aside p {
  color: rgb(120, 43, 15);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  font-size: 16px;
  line-height: 1.2;
}
aside img {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 90%;
}
@media screen and (min-width: 1199px) {
  aside {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 50px;
  }
  aside img {
    padding-block: 40px;
    width: 600px;
    height: 500px;
  }
  aside div {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .button {
    font-size: 14px;
  }
  .btn-shop {
    font-size: 17px;
  }
  .categoria {
    font-size: 13px;
  }
  .sotto h4,
  .stile-titoli h3 {
    font-size: 15px;
  }
  .prezzo {
    font-size: 15px;
  }
  .button-p {
    font-size: 15px;
  }
}
